{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Indice precio al consumidor</title>

{% endblock head_content %}

{% block container %}

 <div class="content">
          <div class="div-content-l">
            
            <div class="content-description-l">
              <h2 class="mb-0" >Salario promedio en el sector construccion</h2>
              En el mes de agosto, el salario promedio del sector Construcción en Formosa fue de $629.960 representando un incremento nominal del 3,9% con respecto al mes anterior. Con respecto a agosto del año 2023 se observa un incremento del 184,5%. 
              Si bien, los salarios nominales del sector se vienen incrementando de manera sostenida desde el año 2021. 
              Los salarios reales promedio se viene deteriorando desde principios del año 2022. Para el caso particular del mes de agosto del año 2024, este disminuyó un 12,1% con respecto al mes de agosto del año 2023.  <br>
            </div>
            <div class="content-chart-div-l">
               
                 <div style= "width: 1600px; margin: 0px auto;" id="salario"></div> 
                
            </div> 


            <div class="content-chart-div-l">
               
              <div style= "width: 1600px; margin: 0px auto;" id="salario-historico"></div> 
            </div> 
   



          
          </div>
     
      <div class="content-filter-l">
        
        <form method= "POST" action="{% url 'asalariados' %} ">
            {% csrf_token %}
            <div class ="content-error">

              {% if error_message %}

                {{error_message}}
              
              {%endif%}
            </div>
           
            <select class="select1" style="width: 130px;" name="año">
                <option  value='0' selected>Año</option>
                    <option value="2">2020</option>
                    <option value="3">2021</option>
                    <option value="4">2022</option>
                    <option value="5">2023</option>
                    <option value="6">2024</option>


            </select>
            
            <button type="submit" style="display:block; margin: 0px auto" id="btn" class="btn-filtrar">Filtrar</button>
            

        </form>

     </div>


       

    </div> 






</div>

<script>
  function datosSalarioConstruccion(){
   

    let intermensual = [];
    let interanual = [];
    let meses = []
    let anio = ' '
    let valor = 'Promedio pais / Promedio Formosa '
    
  // Obtener datos interanuales / mensuales
    {% for data in sector_construccion %}
      
      if('{{data.valor__valor}}'== 'Formosa'){
        intermensual.push({{data.salario_promedio}})
        meses.push('{{data.mes__mes}}')
       
      }else{
       
        interanual.push({{data.salario_promedio}})
         
      }
    
     anio = {{data.anio__anio}}
    
    
    {% endfor %}
   
    return [intermensual, interanual,meses, anio, valor];
  }

  function datosSalarioConstruccionHistorico(){
   

    let intermensual = [];
    let interanual = [];
    let meses = []
    let anio = ' '
    let valor = 'Promedio pais / Promedio Formosa '
    
  // Obtener datos interanuales / mensuales
    {% for data in sector_construccion_historico %}
      
      if('{{data.valor__valor}}'== 'Formosa'){
        intermensual.push({{data.salario_promedio}})
        meses.push('{{data.mes__mes}}')
       
      }else{
       
        interanual.push({{data.salario_promedio}})
         
      }
    
     anio = {{data.anio__anio}}
     
     
    
    {% endfor %}
   
    return [intermensual, interanual,meses, anio, valor];
  }



  construccion()
</script>
{% endblock container %}
