{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Indice precio al consumidor</title>

{% endblock head_content %}

{% block container %}

 <div class="content">
          <div class="div-content-l">
            
            <div class="content-description-l">
              <h2 class="mb-0" >Empresas constructoras </h2>
              Durante el mes de agosto, fueron 163 las empresas constructoras con presencia en la provincia; un 14,7% menos que en agosto del año 2023.  
              Un dato en común que puede observarse en el gráfico, es que, la cantidad de empresas constructoras presentes en el territorio provincial se incrementa hasta el 1° cuatrimestre de cada año, 
              para luego disminuir en el 2° cuatrimestre y volver a incrementarse hacia el 3° cuatrimestre.
            </div>
            <div class="content-chart-div-l">
               
                 
                 <div style= "width: 1600px; margin: 0px auto;" id="empresas"></div> 
                
            </div> 


            <div class="content-chart-div-l">
              
              <div style= "width: 1600px; margin: 0px auto;" id="empresas-historico"></div> 
            </div> 
   



          
          </div>
     
      <div class="content-filter-l">
        
        <form method= "POST" action="{% url 'empresas-construccion' %} ">
            {% csrf_token %}
            <div class ="content-error">

              {% if error_message %}

                {{error_message}}
              
              {%endif%}
            </div>
           
            <select class="select1" style="width: 130px;" name="año">
                <option  value='0' selected>Año</option>
                    <option value="2">2020</option>
                    <option value="3">2021</option>
                    <option value="4">2022</option>
                    <option value="5">2023</option>
                    <option value="6">2024</option>


            </select>
            <select class="select1" style="width: 130px;" name="valor">
              <option value='0' selected>Valor</option>
             
              <option value="1">Formosa</option>
              <option value="2">Nacional</option>

            </select>
           
            <button type="submit" style="display:block; margin: 0px auto" id="btn" class="btn-filtrar">Filtrar</button>
            

        </form>

     </div>


       

    </div> 




</div>

<script>

  function empresasData(){
   

    let numeros = [];
 
    let meses = []
    let anio = ' '
    let valor = ' '
    
    // Obtener datos interanuales / mensuales
    {% for data in sector_construccion %}
        if('{{data.valor__valor}}'== 'Formosa'){
          numeros.push({{data.total_empresas}})
          meses.push('{{data.mes__mes}}')
          anio = {{data.anio__anio}}
          valor = '{{data.valor__valor}}'
        }
    
    {% endfor %}
    
    return [numeros,meses, anio,valor];
  }

  
  
  function empresasDataHistorico(){
   

    let numeros = [];
 
    let meses = []
    let anio = ' '
    let valor = ' '
    
    // Obtener datos interanuales / mensuales
    {% for data in evolucion_total_historico %}
        numeros.push({{data.total_empresas}})
        meses.push('{{data.mes__mes}}')
        anio = {{data.anio__anio}}
        valor = '{{data.valor__valor}}'
     
    
    {% endfor %}
    
    return [numeros,meses, anio,valor];
  }

  

  empresasConstruccion()
</script>
{% endblock container %}