{% extends 'base.html' %}
{% block head_content %}
<title>Dashboard</title>
{% endblock head_content %}

{% block container %}
<div class="main-panel">
    <div class="content-table">

        <h2 style="margin-left:1em; color:#fff">Sector de la construccion</h2>
          <table id="example" class="stripe row-border order-column" style="width:100% margin: 0px auto;">
            <thead>
                <tr style="color: aliceblue;" >
                            <th>Año</th>
                            <th>Mes</th>
                            <th>Tipo de valor</th>
                            <th>Total de empresas</th>
                            <th>Total puestos de trabajo</th>
                            <th>Salario promedio</th>
                            
                    
                </tr>
            </thead>
            <tbody>
              
                        <tr style="color: aliceblue;">
                            
                                <td>#</td>
                                <td>#</td>
                                <td>#</td>
                                <td>#</td>
                                <td>#</td>
                                <td>#</td>
                               
  
                                
                            
                        </tr>
                   
        
                
            </tbody>
          </table>
        
         
        
        
      
        
    </div> 
    <div class="content">
        <h4 style="margin-left: 3.5em; color:#fff">Variacion intermensual / interanual del sector construccion</h4>
        <form method="POST" action=" {% url 'construccion-panel' %}">
            {% csrf_token %}
            <select class="form-select" name="tipo_dato"  aria-label="Default select example">
                <option selected>Seleccionar tipo indicador</option>
                {% for dato in tipo_datos %}
                    <option value="{{dato.id}}">{{dato.tipo_dato}}</option>
                {% endfor %}
              </select>
            <select class="form-select" name="año" aria-label="Default select example">
                <option selected>Seleccionar año</option>
                <option value="6">2024</option>
                <option value="5">2023</option>
                <option value="4">2022</option>
                <option value="3">2021</option>
                
              </select>
              <button type="submit" id="btn" class="btn btn-primary ms-2">Filtrar</button>
    
        </form>
        <div class="card-chart-division">
         
          <div id="chartConstruccion" style="width: 1000px; margin: 0px auto; padding-top: 1em " ></div>
        
        
          
        </div> 
       
    
    
      </div>
    
 

    
    
    

</div>



<script>

  

    function obtenerDatosConstruccion(){
        let interanual= [];
        let intermensual = [];
        let meses= []
      // Obtener datos interanuales / mensuales
      {% for data in indicadores_data %}
          interanual.push({{ data.variacion_interanual }});
          intermensual.push({{data.variacion_intermensual}})
          meses.push('{{data.mes__mes}}')
          
      {% endfor %}
  
      
      return [interanual, intermensual, meses];
      }


    sector_construccion()



    
</script>



{% endblock container %}


