{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Indice precio al consumidor</title>

{% endblock head_content %}

{% block container %}

 <div class="content">
          <div class="div-content-l">
            <div class="content-button">
              <button type="button" style="background: #003763; " class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
                Tabla variaciones intermensual / interanual
              </button>
 
            </div> 
            <div class="content-description-l">
              <h2 class="mb-0" >Puestos de trabajo en el sector construccion </h2>
              En el mes de julio, los puestos de trabajo generados por el sector en la provincia fueron 2.248 lo que 
              representa un incremento del 2,2% en relación al mes anterior, así también una disminución interanual de 66,2%, esto representa 4.212 puestos menos frente al mes julio del año 2023. <br>

              En el mes de julio, los puestos de trabajo generados por el sector en la provincia fueron 2.248, 
              lo que representa un incremento del 2,2% (49 puestos) en relación al mes anterior y una disminución de 65,2% (4.212 puestos) frente al mes de julio del año 2023.

            </div>
            <div class="content-chart-div-l">
               
                 <div style= "width:800px; margin: 0px auto;" id="puestos-trabajo-var"></div> 
                 <div style= "width: 800px; margin: 0px auto;" id="puestos-trabajo"></div> 
                
            </div> 


            <div class="content-chart-div-l">
              {{error_data}}
              <div style= "width:800px; margin: 0px auto;" id="puestos-trabajo-var-historico"></div> 
              <div style= "width: 800px; margin: 0px auto;" id="puestos-trabajo-historico"></div> 
            </div> 
   



          
          </div>
     
      <div class="content-filter-l">
        
        <form method= "POST" action="{% url 'puestos-trabajo' %} ">
            {% csrf_token %}
            <div class ="content-error">

              {% if error_message %}

                {{error_message}}
              
              {%endif%}
            </div>
           
            <select class="select1" style="width: 130px;" name="año">
                <option  value='0' selected>Año</option>
                    <option value="2">2020</option>
                    <option value="3">2021</option>
                    <option value="4">2022</option>
                    <option value="5">2023</option>
                    <option value="6">2024</option>


            </select>
            <select class="select1" style="width: 130px;" name="valor">
              <option value='0' selected>Valor</option>
             
              <option value="1">Formosa</option>
              <option value="2">Nacional</option>

            </select>
           
            <button type="submit" style="display:block; margin: 0px auto" id="btn" class="btn-filtrar">Filtrar</button>
            

        </form>

     </div>


       

    </div> 


 <!-- Modal 1 -->
 <div class="modal fade"  id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content  modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="modal1Label">IPC por division</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="example" class="stripe row-border order-column" style="width:100%">
          <thead>
              <tr style="color: black; " >
                  
                          <th>Año</th>
                          <th>Mes</th>
                          <th>Valor</th>
                          
                          <th>Salario promedio</th>
              </tr>
          </thead>
          <tbody>
                      {% for  data in sector_construccion %}
                      <tr style="color: black;">
                      
                          
                              <td>{{data.anio__anio}}</td>
                              
                              <td>{{data.mes__mes}}</td>
                              
                              <td>{{data.valor__valor}}</td>
    
                              <td>{{data.salario_promedio}}</td>
    
                            
    
    
                          
                      </tr>
                      {% endfor %}
                      
              
          </tbody>
        </table> 
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


</div>

<script>
  function datosVariacionPuestos(){
   

    let intermensual = [];
    let interanual = [];
    let meses = []
    let anio = ' '
    let valor
    
    // Obtener datos interanuales / mensuales
    {% for data in variacion %}
     
        intermensual.push({{data.variacion_intermensual}})
        interanual.push({{data.variacion_interanual}})
     
        meses.push('{{data.mes__mes}}')
        anio = {{data.anio__anio}}
        valor = '{{data.valor__valor}}'
    
    {% endfor %}

    return [intermensual, interanual,meses, anio, valor];
  }

  
  function puestosTrabajoData(){
   

    let numeros = [];
 
    let meses = []
    let anio = ' '
    let valor = ' '
    
    // Obtener datos interanuales / mensuales
    {% for data in sector_construccion %}
        if('{{data.valor__valor}}'== 'Formosa'){
          numeros.push({{data.total_puesto_trabajo}})
          meses.push('{{data.mes__mes}}')
          anio = {{data.anio__anio}}
          valor = '{{data.valor__valor}}'
        }
    
    {% endfor %}
    
    return [numeros,meses, anio,valor];
  }

  function datosVariacionPuestosHistorico(){
   

    let intermensual = [];
    let interanual = [];
    let meses = []
    let anio = ' '
    let valor = ' '
    
    // Obtener datos interanuales / mensuales
    {% for data in variacion_historico %}
     
        intermensual.push({{data.variacion_intermensual}})
        interanual.push({{data.variacion_interanual}})
     
        meses.push('{{data.mes__mes}}')
        anio = {{data.anio__anio}}
        valor = '{{data.valor__valor}}'
    
    {% endfor %}
   
    return [intermensual, interanual,meses, anio, valor];
  }

  
  function puestosTrabajoDataHistorico(){
   

    let numeros = [];
 
    let meses = []
    let anio = ' '
    let valor = ' '
    
    // Obtener datos interanuales / mensuales
    {% for data in construccion_historico %}
        numeros.push({{data.total_puesto_trabajo}})
        meses.push('{{data.mes__mes}}')
        anio = {{data.anio__anio}}
        valor = '{{data.valor__valor}}'
     
    
    {% endfor %}
    
    return [numeros,meses, anio,valor];
  }

  

  puestosTrabajo()
</script>
{% endblock container %}
