{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Indice precio al consumidor</title>

{% endblock head_content %}

{% block container %}

 <div class="content">
          <div class="div-content-l">
            <div class="content-button">
              <button type="button" style="background: #003763; " class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
                Tabla Indice precio al consumidor por division
              </button>
 
            </div> 
            <div class="content-description-l">
              <h2 class="mb-0" >Indice precio al consumidor</h2>
              La inflación mensual para la Región NEA, tuvo un incremento del 3,3% en el mes de septiembre, respecto al mes de agosto. A su vez, la inflación anual arroja un valor de 195,1% de incremento en septiembre, frente al mismo mes del año 2023. 
              La inflación acumulada en lo que va del año fue de 89,7%.<br>
            </div>
            <div class="content-chart-div-l">
               
                 <div style= "width: 1600px; margin: 0px auto;" id="ipc-actual"></div> 
                
            </div> 


            <div class="content-chart-div-l">
               
              <div style= "width: 1600px; margin: 0px auto;" id="ipc-historico"></div> 
            </div> 
   



          
          </div>
     
      <div class="content-filter-l">
        
        <form method= "POST" action="{% url 'ipc-inicio' %} ">
            {% csrf_token %}
            <div class ="content-error">

              {% if error_message %}

                {{error_message}}
              
              {%endif%}
            </div>
           
            <select class="select1" style="width: 130px;" name="año">
                <option  value='0' selected>Año</option>
                    <option value="2">2020</option>
                    <option value="3">2021</option>
                    <option value="4">2022</option>
                    <option value="5">2023</option>
                    <option value="6">2024</option>


            </select>
            <select class="select1" style="width: 130px;" name="valor">
              <option value='0' selected>Valor</option>
             
              <option value="2">Nacional</option>
              <option value="3">NEA</option>

            </select>
           
            <button type="submit" style="display:block; margin: 0px auto" id="btn" class="btn-filtrar">Filtrar</button>
            

        </form>

     </div>


       

    </div> 


 <!-- Modal 1 -->
 <div class="modal fade"  id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content  modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="modal1Label">IPC por division</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% comment %} <table id="example" class="stripe row-border order-column" style="width:100%">
          <thead>
              <tr style="color: black; " >
                  
                          <th>Año</th>
                          <th>Mes</th>
                          <th>Valor</th>
                          <th>Total</th>
                          <th>Total acumulado</th>
                  
              </tr>
          </thead>
          <tbody>
                      {% for  data in acumulados %}
                      <tr style="color: black;">
                      
                          
                              <td>{{data.anio__anio}}</td>
                              
                              <td>{{data.mes__mes}}</td>
                              
                              <td>{{data.valor__valor}}</td>
    
                              <td>{{data.total}}</td>
    
                              <td>{{data.total_acumulado}}</td>
    
    
                          
                      </tr>
                      {% endfor %}
                      
              
          </tbody>
        </table> {% endcomment %}
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>





</div>

<script>
  function datosVariacion(){
   

    let intermensual = [];
    let interanual = [];
    let meses = []
    let anio = ' '
    let valor = ' '

    
  // Obtener datos interanuales / mensuales
    {% for data in variacion %}
      intermensual.push({{data.variacion_intermensual}});
      interanual.push({{data.variacion_interanual}});
      meses.push('{{data.mes__mes}}');
      anio = {{data.anio__anio}};
      valor = '{{data.valor__valor}}'
    {% endfor %}
  
  return [intermensual ,interanual, meses, anio, valor];
  }

  function datosVariacionHistorico(){
   

    let intermensual_historico = [];
    let interanual_historico = [];
    let meses_historico = []
    let anio = ' '
    let valor = ' '

    
  // Obtener datos interanuales / mensuales
    {% for data in variacion_historico  %}
      intermensual_historico.push({{data.variacion_intermensual}});
      interanual_historico.push({{data.variacion_interanual}});
      meses_historico.push('{{data.mes__mes}}');
      anio = {{data.anio__anio}}
      valor = '{{data.valor__valor}}'
      
    {% endfor %}
  
  return [intermensual_historico ,interanual_historico,meses_historico, anio, valor];
  }

  ipc()

</script>
{% endblock container %}
