{% extends 'base.html' %}
{% block head_content %}
<title>Dashboard</title>
{% endblock head_content %}

{% block container %}
<div class="main-panel">
  <h2 style="margin-left: 2em; color:#fff">IPC</h2>
  
  <div class="content-chart">

    <div class="card-chart">

      <div id="chart" style="width: 830px; margin: 0px auto  " ></div>
    
    
     
    
    
    
    </div> 
  </div>
  
  <div class="content">
    <h2 style="margin-left: 3.5em; color:#fff">Ipc por divisiones</h2>
    <form method="POST" action=" {% url 'ipc-panel' %}">
        {% csrf_token %}
        <select class="form-select" name="division"  aria-label="Default select example">
            <option selected>Seleccionar division</option>
            {% for division in divisiones %}
            <option value="{{division.id}}">{{division.tipo_division}}</option>
            {% endfor %}
          </select>
        <select class="form-select" name="año" aria-label="Default select example">
            <option selected>Seleccionar año</option>
            <option value="6">2024</option>
            <option value="5">2023</option>
            <option value="4">2022</option>
            
          </select>
          <button type="submit" id="btn" class="btn btn-primary ms-2">Filtrar</button>

    </form>
    <div class="card-chart-division">
     
      <div id="chartDivision" style="width: 1000px; margin: 0px auto; padding-top: 1em " ></div>
    
    
      
    </div> 
   


  </div>

    
    
    

</div>


<script>

  

     

    var options = {
        series: [
        {
          name: "Intermensual",
          data: [19.5,10.9,10.3,6.3,3.7,4.4,4.6,4.4]
        },
        {
          name: "Interanual",
          data: [261.4,271.9,286.2,282.2,266.4,258.7,253.1,222.8]
        }
      ],
        chart: {
        height: 350,
        type: 'line',
        dropShadow: {
          enabled: true,
          color: '#000',
          top: 18,
          left: 7,
          blur: 10,
          opacity: 0.2
        },
        zoom: {
          enabled: false
        },
        toolbar: {
          show: false
        }
      },
      colors: ['#77B6EA', '#545454'],
      dataLabels: {
        enabled: true,
      },
      stroke: {
        curve: 'smooth'
      },
      
      grid: {
        borderColor: '#e7e7e7',
        row: {
          colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
          opacity: 0.5
        },
      },
      markers: {
        size: 1
      },
      xaxis: {
        categories: ['Enero', 'Febrero', 'Marzo','Abril','Mayo','Junio','Julio','Agosto'],
        title: {
          text: 'Meses'
        }
      },
      yaxis: {
       
        min:-20,
        max: 300
      },
      legend: {
        position: 'top',
        horizontalAlign: 'right',
        floating: true,
        offsetY: -25,
        offsetX: -5
      }
      };

      var chart = new ApexCharts(document.querySelector("#chart"), options);
      chart.render();

      function obtenerDatosDivision(){
        let interanual= [];
        let intermensual = [];
        let meses= []
      // Obtener datos interanuales / mensuales
      {% for data in division_data %}
          interanual.push({{ data.variacion_interanual }});
          intermensual.push({{data.variacion_intermensual}})
          meses.push('{{data.mes__mes}}')
          
      {% endfor %}
  
      
      return [interanual, intermensual, meses];
      }


      ipc_division()

    
</script>



{% endblock container %}


