{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Recaudacion tributaria</title>

{% endblock head_content %}

{% block container %}

 <div class="content">
          <div class="div-content-l">
            
            <div class="content-description-l">
              <h2 class="mb-0" >Recaudacion tributaria total - ATP</h2>
              En noviembre lo que respecta a la recaudación tributaria total, se registró un incremento anual del 135,1% y un incremento mensual de 7,1%. La recaudación por IIBB representó el 86,9% de los ingresos tributarios. 
              La recaudación tributaria de la ATP muestra un comportamiento fluctuante desde febrero de 2024. 
              El impuesto a los IIBB tiene una participación promedio de entre el 80 y el 90% en la recaudación total, 
              lo que expresa la importancia que tiene este impuesto en particular como fuente de recursos por encima del resto de los impuestos que conforman el sistema impositivo provincial. 
            </div>
            <div class="content-chart-div-l">
               
                 
                 <div style= "width: 1600px; margin: 0px auto;" id="tributaria"></div> 
                
            </div> 


            <div class="content-chart-div-l">
              
              <div style= "width: 1600px; margin: 0px auto;" id="tributaria-historico"></div> 
            </div> 
   



          
          </div>
     
      <div class="content-filter-l">
        
        <form method= "POST" action="{% url 'tributaria' %} ">
            {% csrf_token %}
            <div class ="content-error">

              {% if error_message %}

                {{error_message}}
              
              {%endif%}
            </div>
           
            <select class="select1" style="width: 130px;" name="año">
                <option  value='0' selected>Año</option>
                    <option value="2">2020</option>
                    <option value="3">2021</option>
                    <option value="4">2022</option>
                    <option value="5">2023</option>
                    <option value="6">2024</option>


            </select>
           
           
            <button type="submit" style="display:block; margin: 0px auto" id="btn" class="btn-filtrar">Filtrar</button>
            

        </form>

     </div>


       

    </div> 




</div>

<script>

 
   
function datosTributariaActual(){
   

  let intermensual = []; //tributaria
  let interanual = []; //iibb
  let meses = []
  let anio = ' '
  let valor = ' '

  {% for data in recaudacion_actual %}
     {% if  data.tipo == 1 %}

        intermensual.push({{data.recaudacion}})
        meses.push('{{data.mes__mes}}')
     {% endif %}

     {% if  data.tipo == 3 %}
        interanual.push({{data.recaudacion}})
        
     {% endif %}
  
     anio = {{data.anio__anio}}
     valor = '{{data.valor__valor}}'
  {% endfor %}

  return [intermensual, interanual,meses, anio, valor];
    
}


function datosTributariHistorico(){
   

  let intermensual = []; //tributaria
  let interanual = []; //iibb
  let meses = []
  let anio = ' '
  let valor = ' '

  {% for data in recaudacion_historico %}
     {% if  data.tipo == 1 %}

        intermensual.push({{data.recaudacion}})
        meses.push('{{data.mes__mes}}')
     {% endif %}

     {% if  data.tipo == 3 %}
        interanual.push({{data.recaudacion}})
        
     {% endif %}
  
     anio = {{data.anio__anio}}
     valor = '{{data.valor__valor}}'
  {% endfor %}

  return [intermensual, interanual,meses, anio, valor];
  
}

  

 dgr()



</script>
{% endblock container %}