.content-chart, .content-table{
    margin-top: 3em;
    display: flex; /* Organiza los elementos en fila */
    gap: 20px; /* Espacio entre cada tarjeta */
}
.content-table{
    display: block;
}

.card-chart{
    width: 1100px;
    height: 420px;
    margin: 0px auto;
    background: #fff;
    flex: 0 0 auto; /* No se colapsa ni se estira */
    display: inline-flex;
    border-radius: 10px;
}

/* .card-chart-pie, */
.card-chart-ventas,  .card-content{ 
    background: #fff;
    width: 700px;
    height: 380px;
    margin-top: 0;
    display:inline-flex;
    margin: 2em;
    border-radius: 10px;
   
}
/* .card-chart-pie{
    position: absolute;
    left: 54%;
    top: 38em;
}
.card-chart-pie h4{
    padding: 1em;
} */
.content form{
    margin-left: 8em;
}

.card-chart-division{
    width: 1200px;
    background: #fff;
    margin: 0px auto;
    height: 400px;
    border-radius: 10px;
}

.content form{
    
}