.content-chart{
    justify-content: center;
    align-items: center;
    margin: 0;
}


.card-chart{
    width: 1200px;
    height: 450px;
    margin: 0px auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background: #ffff;
    display: block;

}

.card-chart p{
    margin-left: 2em;
}

.button-card{
    margin-left: 3em;
    margin-top: 6em;
    margin-bottom: 2em;
}