{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Evolucion de empleo en sector privado</title>

{% endblock head_content %}

{% block container %}

 <div class="content">
          <div class="div-content-l">
            
            <div class="content-description-l">
              <h2 class="mb-0" >Trabajadores en el sector privado por rama de actividad</h2>
              El último dato disponible (primer trimestre de 2024), deja ver que las actividades económicas que más puestos de trabajo asalariado generaron en la provincia fueron las relacionadas al comercio (29,9%) del total de trabajadores y la construcción (11,1%). En el primer trimestre de 2024, el sector de la construcción en la provincia de Formosa empleó a 2.568 trabajadores asalariados, lo que representa un marcado descenso en comparación con los 6.707 registrados en el mismo período de 2023. 
              Esta caída refleja una disminución significativa en la participación de la construcción en el total de trabajadores de la provincia, que pasó del 24% en el primer trimestre de 2023 al 11% en 2024. La reducción en la cantidad de trabajadores vinculados a esta actividad esta estrechamente relacionado a la paralización de la obras públicas nacionales.            </div>
               <div class="content-flex">
                  <div class="content-chart-div-l-float">
                  
                    
                    <div  id="trabajadores-privado"></div> 
                  
                  </div> 


                  <div class="content-chart-div-l-float">
                
                    <div  id="trabajadores-privado-historico"></div> 
                  </div> 
                </div>
   



          
          </div>
     
      <div class="content-filter-l">
        
        <form method= "POST" action="{% url 'trabajadores-privado' %} ">
            {% csrf_token %}
            <div class ="content-error">

              {% if error_message %}

                {{error_message}}
              
              {%endif%}
            </div>
           
            <select class="select1" style="width: 130px;" name="año">
                <option  value='0' selected>Año</option>
                    <option value="1">2019</option>
                    <option value="2">2020</option>
                    <option value="3">2021</option>
                    <option value="4">2022</option>
                    <option value="5">2023</option>
                    <option value="6">2024</option>


            </select>
            <select class="select1" style="width: 130px;" name="trimestre">
              <option value='0' selected>Trimestre</option>
             
              <option value="1">Primero</option>
              <option value="2">Segundo</option>
              <option value="3">Tercero</option>
              <option value="4">Cuarto</option>

            </select>
           
            <button type="submit" style="display:block; margin: 0px auto" id="btn" class="btn-filtrar">Filtrar</button>
            

        </form>

     </div>


       

    </div> 




</div>

<script>

  function ramaPrivadoActual(){
   

    let cantidades = [];
    let ramas = [];
    let trimestre = ' '
    let anio = ' '
    let valor = ' '

    
    // Obtener datos interanuales / mensuales
    {% for data in cantidades_rama_actual  %}
      cantidades.push({{data.cantidad}});
      ramas.push('{{data.rama__rama}}');
      trimestre = '{{data.trimestre__trimestre}}';
      anio = {{data.anio__anio}};
      valor = '{{data.valor__valor}}'
    {% endfor %}
  
    return [cantidades, ramas,trimestre, anio, valor];
}

  function ramaPrivadoHistorico(){
    

    let cantidades = [];
    let ramas = [];
    let trimestre = ' '
    let anio = ' '
    let valor = ' '

    
    // Obtener datos interanuales / mensuales
    {% for data in cantidades_rama_historico  %}
      cantidades.push({{data.cantidad}});
      ramas.push('{{data.rama__rama}}');
      trimestre = '{{data.trimestre__trimestre}}';
      anio = {{data.anio__anio}};
      valor = '{{data.valor__valor}}'
    {% endfor %}

    return [cantidades, ramas,trimestre, anio, valor];
  }

  
  sector_privado_rama()



</script>
{% endblock container %}











