
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Asalariados sector privado</title>

{% endblock head_content %}

{% block container %}

<div class="content">
    <div class="div-content">
        <div class="content-graficos">
            <h2 class="mb-0"  >Supermercado </h2>
            <div class="content-description">
              Las ventas totales en supermercados de Formosa, superaron los $8208.42 millones en el mes de julio (en junio fueron $7785.56 millones). 
              Estas se incrementaron 5,4%, con respecto al mes de junio, además se incrementaron un 153,3% con respecto al mes de julio del año 2024.
            </div>
            <div class="content-chart-actual">
               
                 <div style= "width: 1200px; margin: 0px auto;" id="chart-operaciones-variante"></div> 
            </div> 


            <div class="content-chart-actual" style= "margin-top: 5em;">
              
              <div  style= "width: 1200px; margin: 0px auto;" id="chart-operaciones-variante-historico"></div> 
          </div>
   



        </div>



    </div>
    <div class="div-card">
      <div class="content-filter">
        
        <form method= "POST" action="{% url 'supermercado-inicio' %} ">
            {% csrf_token %}
            <div class ="content-error">

              {% if error_message %}

                {{error_message}}
              
              {%endif%}
            </div>
           
            <select class="select1" style="width: 130px;" name="año">
                <option  value='0' selected>Año</option>
                    <option value="2">2020</option>
                    <option value="3">2021</option>
                    <option value="4">2022</option>
                    <option value="5">2023</option>
                    <option value="6">2024</option>


            </select>
            <select class="select1" style="width: 130px;" name="valor">
              <option value='0' selected>Valor</option>
                    <option value="1">Formosa</option>
                    <option value="2">Nacional</option>
                 


            </select>
          
            <button type="submit" style="display:block; margin: 0px auto" id="btn" class="btn-filtrar">Filtrar</button>
            <div class="container ">
                <div style= "width: 630px;" id="chart-articulos2"></div>

            </div>

        </form>

     </div>


        <div class="card-data">
          
          <div style= "width: 530px; margin-top: -4em;" id="chart-cantidad-operaciones"></div>
        </div>
        <div class="card-data">

          <div style= "width: 530px; margin-top: -4em" id="chart-acumulado"></div>
        </div>

    </div>




</div>

<script>

    function obtenerIndicadores()
    {

        let intermensual = [];
        let interanual= [];
        let meses = []

        
        // Obtener datos interanuales / mensuales actuales
        {% for data in indicador_actual %}
            intermensual.push({{ data.variacion_intermensual }});
            interanual.push({{ data.variacion_interanual }});
            meses.push('{{data.mes__mes}}')
        {% endfor %}

        return [intermensual, interanual,meses];
        
    }
    

    function ObtenerIndicadoresHistoricos()
    {
        let intermensual_historico = [];
        let interanual_historico = [];
        let meses_historico = []


        
        // Obtener datos interanuales / mensuales historicos
        {% for data in indicador_historico %}
            intermensual_historico.push({{ data.variacion_intermensual }});
            interanual_historico.push({{ data.variacion_interanual }});
            meses_historico.push('{{data.mes__mes}}')
        {% endfor %}
        console.log(intermensual_historico)

        return[intermensual_historico , interanual_historico ,meses_historico]
    }


    function obtenerTotalOperaciones()
    {
      
        let total_operaciones = [];
        let meses_operaciones = []
        let valor
        

        // Obtener total de operaciones supermercado
        {% for data in operaciones%}
            total_operaciones.push({{ data.cantidad_operaciones }});
            meses_operaciones.push('{{data.mes__mes}}')
            valor = ('{{data.valor__valor}}')
        {% endfor %}
        
        return [total_operaciones, meses_operaciones, valor];
      
    }
    
      
      
      
      
    indicadores()
</script>
{% endblock container %}

