
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Supermercado - corriente</title>

{% endblock head_content %}

{% block container %}

<div class="content">
  
  <div class="div-content-l">
    <div class="content-button">
      <button type="button" style="background: #003763; " class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
        Tabla venta por articulos
      </button>
    
      <!-- Botón para abrir Modal 2 -->
      <button type="button" style="background: #003763;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal2">
        Tabla venta totales
      </button>
    
     
     
    </div> 
    <div class="content-description-l">
      <h2 class="mb-0" >Supermercado: precios corrientes</h2>
     
      Las ventas totales en supermercados de Formosa, superaron los $8208.42 millones en el mes de julio (en junio fueron $7785.56 millones). 
      Estas se incrementaron 5,4%, con respecto al mes de junio, además se incrementaron un 153,3% con respecto al mes de julio del año 2024.<br>
    </div>
    <div class="content-chart-div-l">
       
      <div style= "width: 1600px; margin: 0px auto;" id="chart-precio-corriente"></div>
        
    </div> 


    <div class="content-chart-div-l">
       
      <div style= "width: 1600px; margin: 0px auto;" id="chart-precio-corriente-historico"></div>
    </div> 




  
  </div>


  <div class="content-filter-l">

    <form method= "POST" action="{% url 'supermercado-corriente' %}">
        {% csrf_token %}
        <div class ="content-error">

          {% if error_message %}

            {{error_message}}
          
          {%endif%}
        </div>
      
        <select class="select1" style="width: 130px;" name="año">
            <option  value='0' selected>Año</option>
                <option value="2">2020</option>
                <option value="3">2021</option>
                <option value="4">2022</option>
                <option value="5">2023</option>
                <option value="6">2024</option>


        </select>
        <select class="select1" style="width: 130px;" name="valor">
          <option value='0' selected>Valor</option>
          <option value="1">Formosa</option>
          <option value="2">Nacional</option>

        </select>
      
        <button type="submit" style="display:block; margin: 0px auto" id="btn" class="btn-filtrar">Filtrar</button>
        

    </form>

  </div>
  
 <!-- Modal 1 -->
 <div class="modal fade"  id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content  modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="modal1Label">Venta por articulo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="example" class="stripe row-border order-column" style="width:100%">
          <thead>
              <tr style="color: black; " >
                  
                          <th >Año</th>
                          <th>Mes</th>
                          <th>Valor</th>
                          <th>Articulo</th>
                          <th>Total</th>
                  
              </tr>
          </thead>
          <tbody>
                      {% for  data in venta_articulo %}
                      <tr style="color: black;">
                      
                          
                              <td>{{data.anio__anio}}</td>
                              
                              <td>{{data.mes__mes}}</td>
                              
                              <td>{{data.valor__valor}}</td>
    
                              <td>{{data.articulo__articulo}}</td>
    
                              <td>{{data.total}}</td>
    
    
                          
                      </tr>
                      {% endfor %}
                      
              
          </tbody>
        </table>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content  modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="modal2Label">Ventas totales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="example2" class="stripe row-border order-column" style="width:100%">
          <thead>
              <tr style="color: black; " >
                  
                          <th >Año</th>
                          <th>Mes</th>
                          <th>Valor</th>
                          <th>Total</th>
                  
              </tr>
          </thead>
          <tbody>
                      {% for  data in venta_total %}
                      <tr style="color: black;">
                      
                          
                              <td>{{data.anio__anio}}</td>
                              
                              <td>{{data.mes__mes}}</td>
                              
                              <td>{{data.valor__valor}}</td>
    
                              <td>{{data.venta_total}}</td>
    
    
                          
                      </tr>
                      {% endfor %}
                      
              
          </tbody>
        </table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>




</div> 





</div>




<script>

  
  function obtenerVariaciones(){
    let intermensual_corriente = [];
    let interanual_corriente = [];
    let meses_corriente = []
    let anio = ' '
    let valor= ' '

    // Obtener datos interanuales / mensuales
    {% for data in variacion_corriente %}
        intermensual_corriente.push({{ data.variacion_intermensual }});
        interanual_corriente.push({{ data.variacion_interanual }});
        meses_corriente.push('{{data.mes__mes}}')
        anio = {{data.anio__anio}}
        valor = '{{data.valor__valor}}'
    {% endfor %}

  
  return [intermensual_corriente, interanual_corriente,meses_corriente, anio, valor];
  }

  function ObtenerVariacionesHistoricas(){
    let intermensual_corriente_historico = [];
    let interanual_corriente_historico = [];
    let meses_corriente_historico  = [];
    let anio = ' ';
    let valor= ' ';


    // Obtener datos interanuales / mensuales
    {% for data in variacion_corriente_historico %}
        intermensual_corriente_historico.push({{ data.variacion_intermensual }});
        interanual_corriente_historico.push({{ data.variacion_interanual }});
        meses_corriente_historico.push('{{data.mes__mes}}');
        anio = {{data.anio__anio}};
        valor = '{{data.valor__valor}}'
    {% endfor %}

  
  
  return [intermensual_corriente_historico, interanual_corriente_historico,meses_corriente_historico, anio, valor];
  
  }

 
 
  precio_corriente()
</script>
{% endblock container %}

