{% extends 'base.html' %}
{% block head_content %}
<title>Dashboard</title>
{% endblock head_content %}

{% block container %}
<div class="main-panel">
  <h2 style="margin-left: 2em; color:#fff">Supermercado (precios corrientes)</h2>
  
  <div class="content-chart">

    <div class="card-chart">

      <div id="chart" style="width: 830px; margin: 0px auto  " ></div>
    
    
     
    
    
    
    </div> 
  </div>
  
  <div class="content">
    <h2 style="margin-left: 3.5em; color:#fff">Ventas</h2>
    <div class="card-chart-ventas">
     
      <div id="chart-articulos2" style="width: 600px; margin: 0px auto; " ></div>
    
    
      
    </div> 
    <div class="card-chart-ventas">
     
      <div id="chart2" style="width: 750px; margin-left: 1em;  " ></div>
    
    
      
    </div> 
    <div class="card-chart-ventas">
     
      <h4 style="margin: 2em"> Venta total por articulo </h4>
      <div id="chart-articulos" style="width: 540px; margin: 0px auto; padding-top:5em " ></div>
      
    
      
    </div> 
    


  </div>

    
    
    

</div>


<script>

     var options = {
          series: [44, 55, 13, 43, 22],
          chart: {
          width: 380,
          type: 'pie',
        },
        labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'],
        responsive: [{
          breakpoint: 480,
          
          options: {
            chart: {
              width: 200,
      
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#chart-articulos"), options);
        chart.render();
      
      var options = {
          series: [{
            name: "Desktops",
            data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'Ventas totales de supermercado',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart-articulos2"), options);
        chart.render();
     

    var options = {
        series: [
        {
          name: "Intermensual",
          data: [-11.4, -10.8, 10.1]
        },
        {
          name: "Interanual",
          data: [13.8,14.6,14.8]
        }
      ],
        chart: {
        height: 350,
        type: 'line',
        dropShadow: {
          enabled: true,
          color: '#000',
          top: 18,
          left: 7,
          blur: 10,
          opacity: 0.2
        },
        zoom: {
          enabled: false
        },
        toolbar: {
          show: false
        }
      },
      colors: ['#77B6EA', '#545454'],
      dataLabels: {
        enabled: true,
      },
      stroke: {
        curve: 'smooth'
      },
      title: {
        text: 'Cantidad de operaciones intermensual / interanual',
        align: 'left'
      },
      grid: {
        borderColor: '#e7e7e7',
        row: {
          colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
          opacity: 0.5
        },
      },
      markers: {
        size: 1
      },
      xaxis: {
        categories: ['Enero', 'Febrero', 'Marzo'],
        title: {
          text: 'Meses'
        }
      },
      yaxis: {
       
        min:-20,
        max: 40
      },
      legend: {
        position: 'top',
        horizontalAlign: 'right',
        floating: true,
        offsetY: -25,
        offsetX: -5
      }
      };

      var chart = new ApexCharts(document.querySelector("#chart"), options);
      chart.render();

      var options = {
        series: [
        {
          name: "Intermensual",
          data: [-5.8,-0.7,-13.4,-8.9,7.2,13.2]
        },
        {
          name: "Interanual",
          data: [153.4,172.9,189.3,151.9,156.4,154.6]
        }
      ],
        chart: {
        height: 350,
        type: 'line',
        dropShadow: {
          enabled: true,
          color: '#000',
          top: 18,
          left: 7,
          blur: 10,
          opacity: 0.2
        },
        zoom: {
          enabled: false
        },
        toolbar: {
          show: false
        }
      },
      colors: ['#77B6EA', '#545454'],
      dataLabels: {
        enabled: true,
      },
      stroke: {
        curve: 'smooth'
      },
      title: {
        text: 'Variacion porcentual en ventas intermensual / interanual',
        align: 'left'
      },
      grid: {
        borderColor: '#e7e7e7',
        row: {
          colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
          opacity: 0.5
        },
      },
      markers: {
        size: 1
      },
      xaxis: {
        categories: ['Enero', 'Febrero','Marzo','Abril','Mayo','Junio'],
        title: {
          text: 'Meses'
        }
      },
      yaxis: {
        
        min: -25,
        max: 200
      },
      legend: {
        position: 'top',
        horizontalAlign: 'right',
        floating: true,
        offsetY: -25,
        offsetX: -5
      }
      };

      var chart = new ApexCharts(document.querySelector("#chart2"), options);
      chart.render();


    




    
</script>



{% endblock container %}


