{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'Dark/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="{% static 'Dark/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/fontawesome.min.css" integrity="sha512-KVdV5HNnN1f6YOANbRuNxyCnqyPICKUmQusEkyeRg4X0p8K1xCdbHs32aA7pWo6WqMZk0wAzl29cItZh8oBPYQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/5.0.1/js/dataTables.fixedColumns.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/5.0.1/js/fixedColumns.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.colVis.min.js"></script>
    <link href="{% static 'css/style-observatorio.css' %} " rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static 'js/utils.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/own-style.css' %}">
    <script src="{% static 'js/function.chart.js' %}"></script>
    <script src="{% static 'js/ipc_chart/chart.js' %}"></script>
    <script src="{% static 'js/chart_supermercado/chart.js' %}"></script>
    <script src="{% static 'js/chart_vehiculos/chart.js' %}"></script>
    <script src="{% static 'js/chart_construccion/chart.js' %}"></script>
    <script src="{% static 'js/chart_privado/chart.js' %}"></script>

    <script src="{% static 'js/consulta.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <body >
          {% include "nav.html" %}
         
          
                  
                      {% block container %}
      
                      {% endblock%}
         
              
   

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/nav.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
<script>
  
  

$('#modal1').on('shown.bs.modal', function () {
    // Recalcular el tamaño de las columnas de DataTable
    $('#example').DataTable().columns.adjust();
  });

$('#modal2').on('shown.bs.modal', function () {
    // Recalcular el tamaño de las columnas de DataTable
    $('#example2').DataTable().columns.adjust();
  });
  

</script>

</body>
</html>
