{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'Dark/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="{% static 'Dark/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      Material Dashboard Dark Edition by Creative Tim
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    {% comment %} <link href="{% static 'Dark/assets/css/material-dashboard.css' %} " rel="stylesheet" /> {% endcomment %}
    <!-- CSS Just for demo purpose, don't include it in your project -->
    {% comment %} <link href="{% static 'Dark/assets/demo/demo.css'  %}" rel="stylesheet" /> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/fontawesome.min.css" integrity="sha512-KVdV5HNnN1f6YOANbRuNxyCnqyPICKUmQusEkyeRg4X0p8K1xCdbHs32aA7pWo6WqMZk0wAzl29cItZh8oBPYQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>
    {% comment %} <link href="{% static 'css/style-table.min.css' %} " rel="stylesheet"> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/5.0.1/js/dataTables.fixedColumns.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/5.0.1/js/fixedColumns.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.colVis.min.js"></script>
    <link href="{% static 'css/style-observatorio.css' %} " rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/own-style.css' %}">
    <script src="{% static 'js/function.chart.js' %}"></script>
    <script src="{% static 'js/ipc_chart/chart.js' %}"></script>
    <script src="{% static 'js/chart_empleo/chart.js' %}"></script>
    <script src="{% static 'js/chart_supermercado/chart.js' %}"></script>
    <script src="{% static 'js/chart_auto/chart.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <body >
      {% comment %} <div class="container-xxl position-relative bg-white d-flex p-0"> {% endcomment %}
          {% include "nav.html" %}
         
          
                  
                      {% block container %}
      
                      {% endblock%}
         
              
   
<!--   Core JS Files   -->
{% comment %} <script src="{% static 'Dark/assets/js/core/jquery.min.js' %}"></script>

<script src="{% static 'Dark/assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'Dark/assets/js/core/bootstrap-material-design.min.js' %}"></script>
<script src="https://unpkg.com/default-passive-events"></script>
<script src="{% static 'Dark/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script> {% endcomment %}

{% comment %} 
<!-- Chartist JS -->
<script src="{% static 'Dark/assets/js/plugins/chartist.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'Dark/assets/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'Dark/assets/js/material-dashboard.js' %}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'Dark/assets/demo/demo.js' %}"></script>
{% comment %} <script src="{% static 'js/simple-datatables.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/datatables-simple-demo.js' %}"></script> {% endcomment %} 
<script>
  new DataTable('#example', {
    fixedColumns: {
        start: 2
    },
    layout: {
        topStart: {
            buttons: ['colvis']
        }
    },
    paging: true,
    scrollCollapse: true,
    scrollX: true,
    scrollY: 300

});
new DataTable('#exampledos', {
    fixedColumns: {
        start: 2
    },
    layout: {
        topStart: {
            buttons: ['colvis']
        }
    },
    paging: true,
    scrollCollapse: true,
    scrollX: true,
    scrollY: 300

});

</script>

</body>
</html>
