{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Gestor de graficos</title>

{% endblock head_content %}

{% block container %}

 <div class="content">
          <div class="div-content-l">
            <div class="content-description-l">
              <h2 class="mb-0"  >Gestor comparativo de graficos</h2>
              Elegir mediante los desplegables los valores a visualizar y comparar<br>
            </div>
            <div class="content-chart-div-l">
               
                 <div style= "width: 1600px; margin: 0px auto;" id="chart-comparativo-uno"></div> 
                
            </div> 


            <div class="content-chart-div-l">
              
              <div style= "width: 1600px; margin: 0px auto;" id="chart-comparativo-dos"></div> 
            </div> 
   



          
          </div>
     
      <div class="content-filter-l">
        
        <form method= "POST" style="margin-top:-8em" action="{% url 'consulta' %} ">
            {% csrf_token %}
            <div class ="content-error">

              {% if error_message %}

                {{error_message}}
              
              {%endif%}
            </div>
           <h4>Grafico 1</h4>
            <select class="select1" style="width: 130px;" name="año_uno">
                <option  value='0' selected>Año</option>
                    <option value="2">2020</option>
                    <option value="3">2021</option>
                    <option value="4">2022</option>
                    <option value="5">2023</option>
                    <option value="6">2024</option>


            </select>
            <select class="select1" style="width: 130px;" name="valor_uno">
                <option value='0' selected>Valor</option>
                <option value="1">Formosa</option>
                <option value="2">Nacional</option>
                <option value="3">NEA</option>
  
              </select>
            <select class="select1" style="width: 130px;" name="dato_uno">
              <option value='0' selected>Dato</option>
              <option value="Patentamiento - auto">Patentamiento - auto</option>
              <option value="Transferencia - auto">Transferencia - auto</option>
              <option value="Patentamiento - moto">Patentamiento - moto</option>
              <option value="Transferencia - moto">Transferencia - moto</option>
              <option value="Supermercado - corriente">Supermercado - corriente</option>
              <option value="Supermercado - constante">Supermercado - constante</option>
              <option value="Indice precio al consumidor">Indice precio al consumidor</option>
              <option value="Puestos trabajo - sector construccion">Puestos trabajo - sector construccion</option>

            </select>
            
            <h4>Grafico 2</h4>
            <select class="select1" style="width: 130px;" name="año_dos">
                <option  value='0' selected>Año</option>
                    <option value="2">2020</option>
                    <option value="3">2021</option>
                    <option value="4">2022</option>
                    <option value="5">2023</option>
                    <option value="6">2024</option>


            </select>
            <select class="select1" style="width: 130px;" name="valor_dos">
                <option value='0' selected>Valor</option>
                <option value="1">Formosa</option>
                <option value="2">Nacional</option>
                <option value="3">NEA</option>
              </select>
            <select class="select1" style="width: 130px;" name="dato_dos">
              <option value='0' selected>Dato</option>
              <option value="Patentamiento - auto">Patentamiento - auto</option>
              <option value="Transferencia - auto">Transferencia - auto</option>
              <option value="Patentamiento - moto">Patentamiento - moto</option>
              <option value="Transferencia - moto">Transferencia - moto</option>
              <option value="Supermercado - corriente">Supermercado - corriente</option>
              <option value="Supermercado - constante">Supermercado - constante</option>
              <option value="Indice precio al consumidor">Indice precio al consumidor</option>
              <option value="Puestos trabajo - sector construccion">Puestos trabajo - sector construccion</option>
            </select>
           
            <button type="submit" style="display:block; margin: 0px auto" id="btn" class="btn-filtrar">Filtrar</button>
            

        </form>

     </div>


       

    </div> 





</div>

<script>
    function obtenerGraficoUno()
    {
        let intermensual = [];
        let interanual= [];
        let meses = []
        let modelo = ' '
        let anio = ' '
        let valor = ' '
    
        // Obtener datos interanuales / mensuales
        {% for data in grafico_uno %}
            intermensual.push({{ data.variacion_intermensual }});
            interanual.push({{ data.variacion_interanual }});
            meses.push('{{data.mes__mes}}');
            anio = {{data.anio__anio}};
            valor = '{{data.valor__valor}}'
            modelo = '{{modelo_uno}}'
        {% endfor %}
    
      
      return [intermensual, interanual,meses, modelo, anio,valor];
    }


    function obtenerGraficoDos()
    {
        let intermensual = [];
        let interanual= [];
        let meses = []
        let modelo = ' '
        let anio = ' '
        let valor = ' '

       
        
        // Obtener datos interanuales / mensuales
        {% for data in grafico_dos %}
            intermensual.push({{ data.variacion_intermensual }});
            interanual.push({{ data.variacion_interanual }});
            meses.push('{{data.mes__mes}}');
            anio = {{data.anio__anio}};
            valor = '{{data.valor__valor}}'
            modelo = '{{modelo_dos}}'
        {% endfor %}
    
      
      return [intermensual, interanual,meses, modelo, anio,valor];
    }
    
    
    GraficoDos()
    GraficoUno()
    
</script>
{% endblock container %}