  <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">

  <div class="logo" style="background:#181818"><a href="#" class="simple-text logo-normal">
      Observatorio Economico
    </a></div>
  <div class="sidebar-wrapper" style="background:#181818">
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'panel' %}">
          <i class="material-icons" style="color:#1294ff">dashboard</i>
          <p style="color:#ffffff">Panel</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'prueba' %}">
          <i class="material-icons" style="color:#1294ff">shopping_cart</i>

          <p style="color:#ffffff">Supermercado</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./tables.html">
          <i class="material-icons" style="color:#1294ff">equalizer</i>
          <p style="color:#ffffff">IPC</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./typography.html">
          <i class="material-icons" style="color:#1294ff">construction</i>
          <p style="color:#ffffff">Construccion</p>
        </a>
      </li>
      
      
    </ul>
  </div>
</div>
