
  <nav class="vertical_nav">
    <h3 >Observatorio<br> Economico<br>de Formosa</h3>
    <ul id="js-menu" class="menu">
        <li class="menu--item">
        <a href="{% url 'panel' %}" class="menu--link" title="Item 2">
          <i class="menu--icon  fas fa-server"></i>
          <span  class="menu--label">Panel</span>
        </a>
      </li>
      <li class="menu--item">
        <a href="{% url 'consulta' %}" class="menu--link" title="Item 2">
          <i class="menu--icon  fas fa-server"></i>
          <span  class="menu--label">Graficos</span>
        </a>
      </li>
    
      <li class="menu--item  menu--item__has_sub_menu">

        <label class="menu--link" title="Item 1">
          <i class="menu--icon  fas fa-shopping-cart"></i>
          <span class="menu--label">Supermercado</span>
        </label>

        <ul class="sub_menu">
          
          <li class="sub_menu--item">
            <a href="{% url 'supermercado-corriente' %}" class="sub_menu--link">Precio corriente</a>
          </li>
          <li class="sub_menu--item">
            <a href="{% url 'supermercado-constante' %}" class="sub_menu--link">Precio constante</a>
          </li>
        </ul>
      </li>
      <li class="menu--item  menu--item__has_sub_menu">

        <label class="menu--link" title="Item 1">
          <i class="menu--icon  fas fa-car"></i>
          <span class="menu--label">Auto</span>
        </label>

        <ul class="sub_menu">
          
          <li class="sub_menu--item">
            <a href="{% url 'auto-patentamiento' %}" class="sub_menu--link">Patentamiento</a>
          </li>
          <li class="sub_menu--item">
            <a href="{% url 'auto-transferencia' %}" class="sub_menu--link">Transferencia</a>
          </li>
        </ul>
      </li>
      
      <li class="menu--item  menu--item__has_sub_menu">

        <label class="menu--link" title="Item 1">
          <i class="menu--icon  fas fa-motorcycle"></i>
          <span class="menu--label">Moto</span>
        </label>

        <ul class="sub_menu">
          
          <li class="sub_menu--item">
            <a href="{% url 'moto-patentamiento' %}" class="sub_menu--link">Patentamiento</a>
          </li>
          <li class="sub_menu--item">
            <a  href="{% url 'moto-transferencia' %}" class="sub_menu--link">Transferencia</a>
          </li>
        </ul>
      </li>
      <li class="menu--item  menu--item__has_sub_menu">

        <label class="menu--link" title="Item 1">
          <i class="menu--icon  fas fa-chart-line"></i>
          <span class="menu--label">Ipc</span>
        </label>

        <ul class="sub_menu">
          
          <li class="sub_menu--item">
            <a href="{% url 'ipc-inicio' %}" class="sub_menu--link">Precio consumidor</a>
          </li>
        
        </ul>
      </li>
      <li class="menu--item  menu--item__has_sub_menu">

        <label class="menu--link" title="Item 1">
          <i class="menu--icon fas fa-wrench"></i>
          <span class="menu--label">Construccion</span>
        </label>

        <ul class="sub_menu">
          
          <li class="sub_menu--item">
            <a href="{% url 'asalariados' %}" class="sub_menu--link">Salario</a>
          </li>
          <li class="sub_menu--item">
            <a  href="{% url 'puestos-trabajo' %}" class="sub_menu--link">Puestos trabajo</a>
          </li>
          <li class="sub_menu--item">
            <a  href="{% url 'evolucion-trabajo' %}" class="sub_menu--link">Evolucion trabajo</a>
          </li>
          <li class="sub_menu--item">
            <a  href="{% url 'empresas-construccion' %}" class="sub_menu--link">Empresas</a>
          </li>
        </ul>
      </li>
      <li class="menu--item  menu--item__has_sub_menu">

        <label class="menu--link" title="Item 1">
          
          <i class="menu--icon fas fa-briefcase"></i>
          <span class="menu--label">Sector privado</span>
        </label>

        <ul class="sub_menu">
          
          <li class="sub_menu--item">
            <a href="{% url 'evolucion-privado' %}" class="sub_menu--link">Evolucion empleo</a>
          </li>
          <li class="sub_menu--item">
            <a  href="{% url 'trabajadores-privado' %}" class="sub_menu--link">Trabajadores </a>
          </li>
          
        </ul>
      </li>
      

      


    </ul>

   

  </nav>


