
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

  
{% endblock head_content %}

{% block container %}

   
    <div class="content">
      <div class="content-descripcion">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Culpa fugiat omnis excepturi nihil, laboriosam illo porro, 
        ipsum totam libero alias et deleniti, facilis tenetur praesentium dolore ex reiciendis doloremque reprehenderit. Repudiandae dolore pariatur, neque quas est voluptate eligendi nostrum in minima voluptas aliquid magnam velit ea vero molestias aut ipsum aspernatur quisquam? Nobis distinctio delectus quae fugiat quisquam, aliquid inventore officiis sapiente voluptatem itaque tenetur similique ex et consectetur perspiciatis laudantium quibusdam dolor rerum amet nostrum hic maxime praesentium dolorem? Voluptate aperiam dolor facere, vitae aut, sunt tempora excepturi, recusandae dolorem neque consectetur quaerat molestias nobis ipsa architecto sed nulla.
      </div>
      <div class="content-card">
        <a style="text-decoration: none;" href="{% url 'supermercado-inicio' %}">
          <div class="card">
            <div class="circle-icon">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="div-acceso">
            Interanual: 14.8
            </div>
            <div class="div-acceso">
            Intermensual: 10.1
            </div>
          </div>
        </a>
        <a href="#" style="text-decoration: none;">
          <div class="card">
            <div class="circle-icon">
              <i style="left:0.9em;" class="fas fa-car"></i>
            </div>
            <div class="div-acceso">
              Interanual: -30.40
             </div>
             <div class="div-acceso">
              Intermensual: -13.9
             </div>
          </div>

        </a>
       
        <a href="#" style="text-decoration: none;">
          <div class="card">
            <div class="circle-icon">
              <i class="fas fa-motorcycle"></i>
            </div>
            <div class="div-acceso">
              Interanual: 8.1
             </div>
             <div class="div-acceso">
              Intermensual: 0.1
             </div>
          </div>

        </a>
         <a href="#" style="text-decoration: none;">
          <div class="card">
            <div class="circle-icon">
              <i style="left:0.9em;" class="fas fa-briefcase"></i>
            </div>
            <div class="div-acceso">
              Interanual: -64.4
             </div>
             <div class="div-acceso">
             Intermensual: 0.6
             </div>
          </div>

        </a>
       <a href="#" style="text-decoration: none;">
        <div class="card">
          <div class="circle-icon">
            <i class="fas fa-signal"></i>
          </div>
          <div class="div-acceso">
            Interanual: 222.8
           </div>
           <div class="div-acceso">
            Intermensual: 4.4
           </div>
        </div>
       

       </a>
        

      </div>
      {% comment %} <div class="footer">
        <img src="/static/img/logo.png" alt="" srcset="">
        <button class="btn-informe"><i class="fa fa-download" aria-hidden="true"></i> Descargar informes</button>

      </div> {% endcomment %}
    </div>

{% endblock container %}
