{% extends 'base.html' %}
{% block head_content %}
<title>Dashboard</title>
{% endblock head_content %}

{% block container %}
<div class="main-panel">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          
          
          
        </ul>
      </div>
    </div>
  </nav>
    <div class="content">
      <div class="container-fluid">
      
        <div class="card card-plain">
          <div class="card-header card-header-primary"  style ="background:#0a6ebd;">
            <h4 class="card-title">Valores intereanuales</h4>
            
          </div>
  
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">shopping_cart</i>
              </div>
              <p class="card-category">OPERACIONES EN SUPERMERCADO</p>
              <h3 class="card-title" style="color:#fff">{{indicadores_supermercado.variacion_interanual}}
                
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons" style="color:#fff">date_range</i><p  style="color:#fff"> Ultima actualizacion: {{indicadores_supermercado.mes__mes}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">equalizer</i>
              </div>
              <p class="card-category">IPC (NEA)</p>
              <h3 class="card-title" style="color:#fff">
                {% for indicador in indicadores_ipc %}
                  {% if indicador.comparacion_temporal_id == 2  %}
                     {{indicador.porcentaje}}
                 
                  
                  
               
              </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons" style="color:#fff">date_range</i><p  style="color:#fff"> Ultima actualizacion: {{indicador.mes__mes}}</p>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons" >construction</i>
              </div>
              <p class="card-category">PUESTOS EN SECTOR CONSTRUCCION</p>
              <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons" style="color:#fff">date_range</i><p  style="color:#fff"> Ultima actualizacion: </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons" >time_to_leave</i>
              </div>
              <p class="card-category">PATENTAMIENTO AUTOS</p>
              <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons" style="color:#fff">date_range</i><p  style="color:#fff"> Ultima actualizacion: </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons" >time_to_leave</i>
              </div>
              <p class="card-category">PATENTAMIENTO MOTOS</p>
              <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons" style="color:#fff">date_range</i><p  style="color:#fff"> Ultima actualizacion: </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="container-fluid">
      
        <div class="card card-plain">
          <div class="card-header card-header-primary"  style ="background:#0a6ebd;">
            <h4 class="card-title">Valores interemensuales</h4>
            
          </div>
  
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">shopping_cart</i>
              </div>
              <p class="card-category">OPERACIONES EN SUPERMERCADO</p>
              <h3 class="card-title" style="color:#fff">{{indicadores_supermercado.variacion_intermensual}}
                
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons" style="color:#fff">date_range</i><p  style="color:#fff"> Ultima actualizacion: {{indicadores_supermercado.mes__mes}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">equalizer</i>
              </div>
              <p class="card-category">IPC (NEA)</p>
              <h3 class="card-title" style="color:#fff">
                {% for indicador in indicadores_ipc %}
                  {% if indicador.comparacion_temporal_id == 1  %}
                     {{indicador.porcentaje}}
                 
                  
                  
               
              </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons" style="color:#fff">date_range</i><p  style="color:#fff"> Ultima actualizacion: {{indicador.mes__mes}}</p>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons" >construction</i>
              </div>
              <p class="card-category">PUESTOS EN SECTOR CONSTRUCCION</p>
              <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons" style="color:#fff">date_range</i><p  style="color:#fff"> Ultima actualizacion: </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons" >time_to_leave</i>
              </div>
              <p class="card-category">PATENTAMIENTO AUTOS</p>
              <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons" style="color:#fff">date_range</i><p  style="color:#fff"> Ultima actualizacion: </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons" >time_to_leave</i>
              </div>
              <p class="card-category">PATENTAMIENTO MOTOS</p>
              <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons" style="color:#fff">date_range</i><p  style="color:#fff"> Ultima actualizacion: </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      
      
    </div>
  </div>
 
  <script>
    const x = new Date().getFullYear();
    let date = document.getElementById('date');
    date.innerHTML = '&copy; ' + x + date.innerHTML;
  </script>
</div>
{% endblock container %}


