function draw_line_chart(data_intermensual,data_interanual,titulo,meses,max,min,id)
{

  var options = {
    series: [
    {
      name: "Intermensual",
      data: data_intermensual
    },
    {
      name: "Interanual",
      data: data_interanual
    }
  ],
    chart: {
    height: 350,
    type: 'line',
    dropShadow: {
      enabled: true,
      color: '#000',
      top: 10,
      left: 7,
      blur: 7,
      opacity: 0.2
    },
    zoom: {
      enabled: false
    },
    toolbar: {
      show: false
    }
  },
  colors: ['#007D9D', '#859222'],
  dataLabels: {
    enabled: true,
  },
  stroke: {
    curve: 'smooth'
  },
  title: {
    text: titulo,
    align: 'left'
  },
  grid: {
    borderColor: '#e7e7e7',
    row: {
      colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
      opacity: 0.5
    },
  },
  markers: {
    size: 0
  },
  xaxis: {
    categories: meses,
    title: {
      text: 'Meses'
    }
  },
  yaxis: {
    min: min,
    max: max,
    tickAmount: 6, // Define la cantidad de marcas en el eje Y, ajusta este valor según lo necesites
    forceNiceScale: true, // Mantener esta opción por si ayuda en la escala
    labels: {
      formatter: function(value) {
        return value.toFixed(0); // Mostrar solo enteros
      }
    },
  },
  
  grid: {
    show: true,
    position: 'back',
    yaxis: {
      lines: {
        show: true
      }
    },
  },
  legend: {
    position: 'top',
    horizontalAlign: 'right',
    floating: true,
    offsetY: -20,
    offsetX: -0
  },
  annotations: {
    yaxis: [{
      y: 0,
      borderColor: '#000000',  // Color de la línea
      strokeDashArray: 0,       // Línea punteada
      
    }]
  }
  };

  var chart = new ApexCharts(document.querySelector('#'+id), options);
  chart.render();
}





def gestor_consultas(request):
    if request.method == "POST":
        seleccionados = request.POST.getlist('consulta') 
       
        if 'Moto' in seleccionados:
            resultados = Indicadores.objects.select_related('mes','anio','valor').values(
            'mes__mes',
            'anio__anio',
            ).filter(anio_id=2)
            print(resultados)
        if 'Auto' in seleccionados:
            print('Auto')
        if 'Puesto sector construccion' in seleccionados:
            print('Puesto sector construccion')
        if 'Salario sector construccion' in seleccionados:
            print('Salario sector construccion')
        if 'Sector construccion' in seleccionados:
            print('Sector construccion')
            
        if resultados.exists():
            encabezados = list(resultados[0].keys())
            datos = list(resultados)
           
            solo_valores = []
            for fila in datos:
              
                valores = [valor for clave, valor in fila.items()]
                solo_valores.append(valores)

            
            return render(request, 'consultas.html', {
                'encabezados': encabezados,
                'datos': solo_valores
            })
        
    return render(request, 'consultas.html')
    





    <table id="exampledos" class="stripe row-border order-column" style="width:100%">
      <thead>
          <tr style="color: aliceblue;" >
              
                      <th>Año</th>
                      <th>Mes</th>
                      <th>Valor</th>
                      <th>Articulo</th>
                      <th>Total</th>
              
          </tr>
      </thead>
      <tbody>
                  {% for  data in venta_articulo %}
                  <tr style="color: aliceblue;">
                  
                      
                          <td>{{data.anio__anio}}</td>
                          
                          <td>{{data.mes__mes}}</td>
                          
                          <td>{{data.valor__valor}}</td>

                          <td>{{data.articulo__articulo}}</td>

                          <td>{{data.total}}</td>


                      
                  </tr>
                  {% endfor %}
                  
          
      </tbody>
    </table>