{% extends 'base.html' %}
{% block head_content %}
<title>Dashboard</title>
{% endblock head_content %}

{% block container %}
<div class="main-panel">
  <h2 style="margin-left: 2em; color:#fff">Patentamiento y transferencia en automotores</h2>

  
    <div class="content">
    
        <div class="card-content">
        
            <div id="chart-patentamiento" style="width: 750px; margin: 0px auto; " ></div>
        
        
        
        </div> 
        <div class="card-content">
        
            <div id="chart-transferencia" style="width: 750px; margin-left: 1em;  " ></div>
        
        
        
        </div> 
        <form method="POST" action=" {% url 'auto-panel' %}">
            <h2 style="color:#fff">Comparativa historica</h2>
            {% csrf_token %}
            <select class="form-select" name="año"  aria-label="Default select example">
                <option selected>Seleccionar año</option>
               
                <option value="1">2019</option>
                <option value="2">2020</option>
                <option value="3">2021</option>
                <option value="4">2022</option>
                <option value="5">2023</option>
                <option value="6">2024</option>
                
            </select>
            <button type="submit" id="btn" class="btn btn-primary ms-2">Filtrar</button>

        </form>
       
        <div class="card-content">
        
            <div id="chart-patentamiento-historico" style="width: 600px; margin: 0px auto; " ></div>
            
            
            
            </div> 
            <div class="card-content">
            
            <div id="chart-transferencia-historico" style="width: 750px; margin-left: 1em;  " ></div>
            
            
            
            </div> 
            
    </div>
    


  
  <div style="display: inline-flex; margin-left: 2em">
    
    <div class="col-md-6"  >
      <div class="card" >
        
        <table id="example" class="stripe row-border order-column" style="width: 100%;">
          <thead>
              <tr style="color: aliceblue;" >
                          <th>Año</th>
                          <th>Mes</th>
                          
                          <th>Patentamiento</th>
                          <th>Patentamiento acumulado</th>
                         
                  
              </tr>
          </thead>
          <tbody>
                       {% for data in data_patentamiento  %}
                          {% if  data.movimiento_vehicular == 1 %}
                          
                            <tr style="color: aliceblue;">
                                
                              <td>{{data.anio__anio}}</td>
                              <td>{{data.mes__mes}}</td>
                              <td>{{data.total}}</td>
                              <td>{{data.total_acumulado}}</td>
                              
                            
                          
                            </tr>
                       
                        
                          {% endif %} 
                         
                      
                        {% endfor %}
                    
              
          </tbody>
        </table>
      </div>
    </div> 
    <div class="col-md-6"  >
      <div class="card" >
        
        <table id="exampledos" class="stripe row-border order-column" style="width: 100%;">
          <thead>
              <tr style="color: aliceblue;" >
                          <th>Año</th>
                          <th>Mes</th>
                          
                          <th>Patentamiento</th>
                          <th>Patentamiento acumulado</th>
                         
                  
              </tr>
          </thead>
          <tbody>
                       {% for data in data_patentamiento  %}
                          {% if  data.movimiento_vehicular == 2 %}
                          
                            <tr style="color: aliceblue;">
                                
                              <td>{{data.anio__anio}}</td>
                              <td>{{data.mes__mes}}</td>
                              <td>{{data.total}}</td>
                              <td>{{data.total_acumulado}}</td>
                              
                            
                          
                            </tr>
                       
                        
                          {% endif %} 
                         
                      
                        {% endfor %}
                    
              
          </tbody>
        </table>
      </div>
    </div> 
  </div>
  
    
    

</div>


<script>
    var options = 
    {
        series: [
        {
          name: "Intermensual",
          data: [79.0,-7.0,-5.6,15.5,19.0,-32.3,74.1,-13.9]
        },
        {
          name: "Interanual",
          data: [-54.4,-34.65,-46.42,-17.24,-15.74,-36.96,-15.60,-30.40]
        }
      ],
        chart: {
        height: 350,
        type: 'line',
        dropShadow: {
          enabled: true,
          color: '#000',
          top: 18,
          left: 7,
          blur: 10,
          opacity: 0.2
        },
        zoom: {
          enabled: false
        },
        toolbar: {
          show: false
        }
      },
      colors: ['#77B6EA', '#545454'],
      dataLabels: {
        enabled: true,
      },
      stroke: {
        curve: 'smooth'
      },
      title: {
        text: 'Patentamiento intermensual / interanual',
        align: 'left'
      },
      grid: {
        borderColor: '#e7e7e7',
        row: {
          colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
          opacity: 0.5
        },
      },
      markers: {
        size: 1
      },
      xaxis: {
        categories: ['Enero', 'Febrero', 'Marzo','Abril','Mayo','Junio','Julio','Agosto'],
        title: {
          text: 'Meses'
        }
      },
      yaxis: {
       
        min:-100,
        max: 200
      },
      legend: {
        position: 'top',
        horizontalAlign: 'right',
        floating: true,
        offsetY: -25,
        offsetX: -5
      }
    };
    var chart = new ApexCharts(document.querySelector("#chart-patentamiento"), options);
    chart.render();


      var options = 
      {
        series: [
        {
          name: "Intermensual",
          data: [-0.3,-22.6,-16.5,27.3,27.0,-23.8,86.5,-11.2]
        },
        {
          name: "Interanual",
          data: [-27.4,-25.1,-49.1,-17.4,-1.3,-22.1,-3.7,-16.2]
        }
        ],
            chart: {
            height: 350,
            type: 'line',
            dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
            },
            zoom: {
            enabled: false
            },
            toolbar: {
            show: false
            }
        },
        colors: ['#77B6EA', '#545454'],
        dataLabels: {
            enabled: true,
        },
        stroke: {
            curve: 'smooth'
        },
        title: {
            text: 'Transferencia intermensual / interanual',
            align: 'left'
        },
        grid: {
            borderColor: '#e7e7e7',
            row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
            },
        },
        markers: {
            size: 1
        },
        xaxis: {
            categories: ['Enero', 'Febrero', 'Marzo','Abril','Mayo','Junio','Julio','Agosto'],
            title: {
            text: 'Meses'
            }
        },
        yaxis: {
        
            min:-100,
            max: 200
        },
        legend: {
            position: 'top',
            horizontalAlign: 'right',
            floating: true,
            offsetY: -25,
            offsetX: -5
        }
      };
      var chart = new ApexCharts(document.querySelector("#chart-transferencia"), options);
      chart.render();

      function obtenerDatosPatentamiento(){
        let interanual= [];
        let intermensual = [];
        let meses= []
      // Obtener datos interanuales / mensuales
      {% for data in patentamiento_filtro %}
          interanual.push({{ data.variacion_interanual }});
          intermensual.push({{data.variacion_intermensual}})
          meses.push('{{data.mes__mes}}')
          
      {% endfor %}
  
      
      return [interanual, intermensual, meses];
      }

      function obtenerDatosTransferencia(){
        let interanual= [];
        let intermensual = [];
        let meses= []
      // Obtener datos interanuales / mensuales
      {% for data in transferencia_filtro %}
          interanual.push({{ data.variacion_interanual }});
          intermensual.push({{data.variacion_intermensual}})
          meses.push('{{data.mes__mes}}')
          
      {% endfor %}
  
      
      return [interanual, intermensual, meses];
      }

      patentamiento_auto()
      transferencia_auto()
</script>
  

{% endblock container %}


